#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  background: linear-gradient(#ffafbd, #cfd9df);
  justify-content: center;
  align-items: center;
}
.header-title {
  width: 450px;
  text-align: center;
  display: block;
  margin: 16px auto 37px auto;
  font-size: 2.8em;
  color: black;
  margin-top: 10vh;
}

.calculator {
  background: black;
  width: 320px;
  padding: 5px;
  position: relative;
  /* top:50%;;
  left:50%; */
  margin: auto;
}
#display {
  min-height: 30px;
  color: white;
  background-color: black;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  height: 60px;
  width: 80px;
  font-size: 20px;
  cursor: pointer;
}
.jumbo {
  width: 160px;
}
.equal {
  background: #004466;
  position: absolute;
  height: 120px;
}
.display {
  border: 1px solid whitesmoke;
  margin: 2px;
  padding: 7px;
}
.jumbo-ac {
  width: 160px;
  background: #ac3939;
}
.oprator {
  background: #666666;
}
.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.9em;
  color: black;
}
